<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.0.3.xsd">

	<!-- <http auto-config="true"> <intercept-url pattern="/welcome*" access="ROLE_USER" 
		/> <form-login login-page="/login" default-target-url="/welcome" authentication-failure-url="/loginfailed" 
		/> <logout logout-success-url="/logout" /> </http> -->

	<http>
<!-- 		<intercept-url pattern="/welcome*" access="ROLE_USER" /> -->
          <intercept-url pattern="/**" access="ROLE_USER" /> 
		
		<http-basic />
	</http>


    <beans:bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">

        <beans:property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <beans:property name="url" value="jdbc:mysql://localhost:3306/ktgtest" />
        <beans:property name="username" value="root" />
        <beans:property name="password" value="tiger" />
    </beans:bean>

    <authentication-manager>
        <authentication-provider>
            <jdbc-user-service data-source-ref="dataSource"

                               users-by-username-query="
					select username,password, enabled
					from users where USERNAME=?"

                               authorities-by-username-query="
					select u.username, ur.authority from users u, user_roles ur
					where u.user_id = ur.user_id and u.username =?  "

                    />
        </authentication-provider>
    </authentication-manager>

    <!--  commented for now vaishali
    <beans:bean id="basicAuthenticationFilter"
      class="org.springframework.security.web.authentication.www.BasicAuthenticationFilter">
      <beans:property name="authenticationManager" ref="authenticationManager"/>
      <beans:property name="authenticationEntryPoint" ref="authenticationEntryPoint"/>
    </beans:bean>
     -->
        <!--
        <beans:bean id="authenticationEntryPoint"
          class="org.springframework.security.web.authentication.www.BasicAuthenticationEntryPoint">
          <beans:property name="realmName" value="Name Of Your Realm"/>
        </beans:bean>
        -->
    <!--  commented for now vaishali
        <beans:bean id="filterChainProxy" class="org.springframework.security.web.FilterChainProxy">
        <filter-chain-map>
              <filter-chain pattern="/*" filters="filterSecurityInterceptor" />
              </filter-chain-map>
        </beans:bean>
        <beans:bean id="filterSecurityInterceptor" class="
        org.springframework.security.web.access.intercept.FilterSecurityInterceptor">
            <beans:property name="authenticationManager">
                <beans:ref bean="authenticationManager"/></beans:property>
                <beans:property name="objectDefinitionSource">
                <beans:value>
                    CONVERT_URL_TO_LOWERCASE_BEFORE_COMPARISON
                   PATTERN_TYPE_APACHE_ANT
                    /secure/super/**=ROLE_SUPERVISOR
                    /secure/.* =ROLE_USER,ROLE_SUPERVISOR
                </beans:value>
            </beans:property>
        </beans:bean>
         -->
        <!--  commented for now vaishali
       <authentication-manager alias="authenticationManager">
       <authentication-provider ref="preauthAuthProvider" />
       </authentication-manager>
           <authentication-manager>

                   <authentication-provider>
                       <user-service>
                           <user name="user" password="123456"
                               authorities="ROLE_USER" />
                       </user-service>
                   </authentication-provider>

           </authentication-manager>
        -->

</beans:beans>