<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.0.3.xsd">


    <beans:bean id="umsUserDetailsService" class="com.abc.UmsUserDetailsService">
    </beans:bean>

	<http>
<!-- 		<intercept-url pattern="/welcome*" access="ROLE_USER" /> -->
          <intercept-url pattern="/**" access="ROLE_USER" /> 
		
		<http-basic />
	</http>



    <beans:bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">

        <beans:property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <beans:property name="url" value="jdbc:mysql://localhost:3306/ktgtest" />
        <beans:property name="username" value="root" />
        <beans:property name="password" value="tiger" />
    </beans:bean>


    <beans:bean id='stupidAuthenticationProvider' class='com.abc.StupidAuthenticationProvider'/>

    <authentication-manager>
        <authentication-provider ref='stupidAuthenticationProvider'/>
    </authentication-manager>



</beans:beans>